@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bold {
    font-weight: 700;
}

.normal {
    font-weight: 500;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins;
    /* outline: 1px solid #000; */
}

.large-section-one {
    margin: auto;
    margin-top: 5px;
    padding: 0 20px;
    max-width: 1400px;
    transition: padding 0.3s ease;
}

header {
    background: #fff;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    padding: 40px 20px;
    transition: padding 0.3s ease;
    align-items: center;
    background: #fff;
    margin: 0 auto;
}


.nav-section-two {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0 40px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.toggle-btn {
    color: #fff;
    background: #19A7CE;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    padding: 1px 11px;
    border-radius: 4px;
}

.logo {
    font-weight: 700;
    color: #19A7CE;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    line-height: 25px;
}

.contact-details {
    background: #19A7CE;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 10px;
}

.main-menu-container {
    width: 100%;
    background: #fff;
    z-index: 999;
}


.main-menu {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    height: 0;
    display: none;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-menu.open {
    height: 270px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
}

.main-menu li{
    padding: 10px 0;
}

.main-menu li a {
    color: #000;
    font-size: 1.4rem;
}

.section-one {
    display: flex;
}


.section-one-part-one {
    max-width: 680px;
}

.section-one-part-two {
    max-width: 680px;
    overflow: hidden;
}


.section-one-part-two img {
    margin-top: 20px;
    width: 100%;
}

.section-one-part-one h1 {
    padding: 50px 0 10px 0;
    font-size: 35px;
}

.section-one-part-one p {
    color: #505050;
    font-size: 1.2rem;
    padding: 30px 0 20px 0;
}

.section-one-part-one button {
    margin-top: 30px;
    background: #19A7CE;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.section-two {
    display: flex;
}

.section-two-part-one {
    width: 680px;
}

.section-two-part-two {
    width: 680px;
}


.section-two-part-two img {
    width: 100%;
}

.section-two-part-one p {
    color: #505050;
    font-size: 1.2rem;
    padding: 30px 0 20px 0;
}

.section-two-part-one button {
    margin-top: 30px;
    background: #19A7CE;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.section-two-part-one h1 {
    padding: 50px 0 0 0;
    font-size: 35px;
}

.section-three h1 {
    font-size: 35px;
    padding: 40px 0;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stats .stat {
    width: 200px;
    text-align: center;
    color: #505050;
    padding: 0 20px;
    border-left: 10px solid #AFD3E2;
    border-right: 10px solid #AFD3E2;
    border-radius: 10px;
    margin: 20px;
}

@media (max-width: 0px) {
    .stats .stat {
        width: 33.33%;
    }
}

.stats .stat .bold {
    font-size: 3rem;
}

.section-four-background {
    margin-top: 100px;
    background: #19A7CE;
    transition: padding 0.3s ease;
}

.section-four {
    padding: 0 20px;
    max-width: 1400px;
    display: flex;
    margin: auto;
}

.section-four-part-one {
    width: 680px;
}

.section-four-part-two {
    width: 680px;
}

.section-four-part-two img {
    width: 100%;
    margin-top: 50px;
}

.section-four-part-one h1 {
    font-size: 45px;
    padding: 40px 0 0 0;
    color: #146C94;
}

.section-four-part-one p {
    color: #fff;
    font-size: 1.2rem;
    padding: 30px 0 20px 0;
}

.section-four-part-one ul {
    color: #fff;
    font-size: 1.2rem;
}


.section-four-part-one button {
    margin-top: 60px;
    background: #146C94;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.section-five h1 {
    font-size: 35px;
    padding: 40px 0 10px 0;
}

.section-five h4 {
    font-size: 1.1rem;
    margin-top: 20px;
}


.section-five p {
    color: #505050;
    font-size: 1rem;
}

.section-six {
    display: flex;
    margin-top: 100px;
}

.section-six-part-one {
    width: 1360px;
}

.section-six-part-two {
    width: 680px;
    display: none;
}

.section-six-part-two img {
    width: 100%;
}

.section-six-part-one h1 {
    font-size: 35px;
    padding: 40px 0 0 0;
}

.section-six-part-one p {
    color: #505050;
    font-size: 1.1rem;
    padding: 30px 0 20px 0;
}


.section-seven-background {
    margin-top: 100px;
    background: #19A7CE;
    transition: padding 0.3s ease;
}

.section-seven {
    padding: 0 20px;
    max-width: 1400px;
    margin: auto;
}

.section-seven h1 {
    color: #146C94;
    font-size: 35px;
    padding: 40px 0 0 0;
}

.section-seven p {
    color: #fff;
    font-size: 1.1rem;
    padding-bottom: 30px;
}


.section-seven form {
    display: flex;
    flex-direction: column;
}

.section-seven form input,
.section-seven form textarea {
    padding: 20px;
    margin: 10px 0;
    border: none;
    font-size: 1.1rem;
    border-radius: 4px;
}

.section-seven form input[type="submit"] {
    background: #146C94;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.section-seven form input:focus,
.section-seven form textarea:focus {
    outline: none;
}

.section-seven .bold {
    font-size: 0.7rem;
}

@media(max-width: 1400px) {

    .section-one,
    .section-two,
    .section-four,
    .section-six {
        flex-wrap: wrap;
    }

    .section-one-part-one,
    .section-one-part-two,
    .section-two-part-one,
    .section-two-part-two,
    .section-four-part-one,
    .section-four-part-two,
    .section-six-part-one,
    .section-six-part-two {
        max-width: none;
        width: 1360px;
    }

}

@media(max-width: 1212px) {
    nav ul {
        display: none;
    }

    .toggle-btn {
        display: block;
    }

    .main-menu {
        display: block;
    }
}

@media(max-width: 610px) {
    .contact-details {
        display: none;
    }
}